* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url("../images/jason-dent-QSIq9ncQkzY-unsplash.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

#single-column-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
    text-align: center; 
    color: white;

}

.headers {
    text-align: center;
}

.logos {
    display: flex;
    gap: 48px;
    justify-content: center;    
}

img {
    height: 300px;
    flex: 1;  
}

.logos h1 {
    margin-top: 120px;
    font-size: 36px;
    font-weight: bold;
}

.team-names {
    display: flex;
    justify-content: space-between;
    margin-left: 24px;
    margin-right: 24px; 
    margin-bottom: 48px;
    font-size: 16px;
}

.button {
    background-color: rgb(3, 3, 52);
    color: white;
    padding: 12px;
    margin: 12px 12px 12px 12px;
    border-radius: 12px;
    border: 3px solid red;
    text-decoration: none;
    font-size: 14px;
}

.info {
    margin-top: 24px;
    margin-bottom: 36px;
    font-size: 20px;
}

#call {
    margin-top: 36px;
    font-size: 16px;
}
#date {
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 6px;
}

.headers-item h1 {
    font-size: 40px;
    margin: 0px;
}

h4 {
    margin-bottom: 8px;
}

h3 {
    margin-top: 8px;
}

.address {
    font-size: 18px;
}