@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    font-family: "Cantarell", sans-serif;
}

.single-column {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
    text-align: center;
}

img {
    width: 300px;
    margin-top: 24px;
    margin-bottom: 24px;
    border-radius: 12px;
}

p {
    font-size: 20px;
    margin: 0px;
    margin-bottom: 14px;
    margin-top: 8px;
}
h2 {
    margin: 12px 0px;
    font-size: 24px;
}
h3 {
    font-weight: 700;
    font-size: 20px;
}

.button {
    text-decoration: none;
    color: black;
    display: inline-block;
    margin: 16px;
    margin-right: 14px;
    border-radius: 36px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 12px;
}

.primary {
    padding: 14px;
}

.secondary {
    padding: 16px;
}

.container1 {
    background-color: rgb(199, 57, 57);
    padding: 48px 0px;;
}
.primary1 {
    background-color: black;
    color: rgb(199, 57, 57);
}
.secondary1 {
    color: black;
    border: 3px solid black;
}

.container2 {
    background-color: rgb(29, 80, 231);
    padding: 48px 0px;
    color: white;
}
.primary2 {
    background-color: white;
    color: rgb(29, 80, 231);
}
.secondary2 {
    color: white;
    border: 3px solid white;
}

.container3 {
    background-color: rgb(184, 158, 31);
    padding: 48px 0px;
    color: forestgreen;
}
.primary3 {
    background-color: forestgreen;
    color: rgb(184, 158, 31);
}
.secondary3 {
    color: forestgreen;
    border: 3px solid forestgreen;
}
.container4 {
    background-color: purple;
    padding: 48px 0px;
    color: silver;
}
.primary4 {
    background-color: silver;
    color: purple;
}
.secondary4 {
    color: silver;
    border: 3px solid silver;
}