@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    font-family: "Cantarell", sans-serif;
}

.single-column {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
    text-align: center;
}

img {
    width: 300px;
    margin-top: 24px;
    margin-bottom: 24px;
    border-radius: 12px;
    box-shadow: 6px 6px 6px silver;
}

p {
    text-decoration-line: underline;
    margin: 0px;
    margin-bottom: 14px;
    margin-top: 8px;
}
h2 {
    margin: 0px;
    margin: 12px, 0px;
}
h3 {
    font-size: 700;
}


#button {
    text-decoration: none;
    color: black;
    display: inline-block; /* VERY IMPORTANT */
    margin: 16px;
    margin-right: 14px;
}


.container1 {
    background-color: rgb(199, 57, 57);
    padding: 48px 0px;
}
.primary1 {
    background-color: rgb(203, 192, 22);
    color: rgb(199, 57, 57);
    padding: 14px;
    border-radius: 36px;
    font-size: 14px;
    font-weight: bold;
    margin-right: 12px;
}
.secondary1 {
    color: rgb(203, 191, 22);
    border: 3px solid rgb(203, 191, 22);
    padding: 16px;
    border-radius: 36px;
    font-size: 14px;
    font-weight: bold;
    margin-right: 12px;
}


.container2 {
    background-color: rgb(29, 80, 231);
    padding: 48px 0px;
    color: black;
}
.primary2 {
    background-color: rgb(203, 191, 22);
    color: rgb(29, 80, 231);
    padding: 16px;
    border-radius: 36px;
    font-size: 14px;
    font-weight: bold;
    margin-right: 12px;
}
.secondary2 {
    color: rgb(203, 191, 22);
    border: 3px solid rgb(203, 191, 22);
    padding: 16px;
    border-radius: 36px;
    font-size: 14px;
    font-weight: bold;
    margin-right: 12px;
}


.container3 {
    background-color: rgb(184, 158, 31);
    padding: 48px 0px;
    color: black;
}
.primary3 {
    background-color: silver;
    color: rgb(184,158,31);
    padding: 16px;
    border-radius: 36px;
    font-size: 14px;
    font-weight: bold;
    margin-right: 12px;
}
.secondary3 {
    color: silver;
    border: 3px solid silver;
    padding: 16px;
    border-radius: 36px;
    font-size: 14px;
    font-weight: bold;
    margin-right: 12px;
}


.container4 {
    background-color: purple;
    padding: 48px 0px;
    color: black;
}
.primary4 {
    background-color: silver;
    color: purple;
    padding: 16px;
    border-radius: 36px;
    font-size: 14px;
    font-weight: bold;
    margin-right: 12px;
}
.secondary4 {
    color: silver;
    border: 3px solid silver;
    padding: 16px;
    border-radius: 36px;
    font-size: 14px;
    font-weight: bold;
    margin-right: 12px;
}