* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#p1 {
    color: #0000ff;
}

#p1s1 {
    background-color: #ffff00;
    color: #ff0000;
    font-style: oblique;
    font-size: 24px;
}

#p1s2 {
    background-color: #ffff00;
    color: #ff0000;
    text-decoration: underline;
}

#p2 {
    color: #ff0000;
}

#p2s1 {
    background-color: #ffa500;
    color: black;
}
#p2s2 {
    background-color: #46b7dd;
    color: #f7f5f6;
}
#p3 {
    color: #008000;
    background-color: aquamarine; 
    margin-top: 24px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 24px;

}

#p3s1 {
    background-color: #8a2be2;
    color: #080103;
}

#p3s2 {
    background-color: #000000;
    color: #ffffff;
}

#p3s3 {
    background-color: #ffc0cb;
    color: #ffffff;
}

#p4 {
    color: #8a2be2;
}