* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#p1{
    color:#0000ff;
}

#p1s1{
    background-color:#ffff00;
    color:#ff0000;
}

#p1s2{
    background-color:#ffff00;
    color:#ff0000;
}

#p2{
    color:#ff0000;
}

#p2s1{
    background-color:#ffa500;
    color:black;
}
#p2s2{
    background-color:#46b7dd;
    color:#f7f5f6;
}
#p3{
    color:#008000;
}

#p3s1{
    background-color:#8a2be2;
    color:#080103;
}

#p3s2{
    background-color:black;
    color:white;
}

#p3s3{
    background-color:pink;
    color:white;
}