* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background: linear-gradient(to top,#cecece, #141414);
}

.color-palette {
    box-shadow: 6px 6px 12px #989898;
    text-align: center;
    margin: 24px;
    padding: 24px;
    background-color: lightgray;
}

h2 {
    font-family: cursive;
}

.color {
    margin: 0px;
    padding: 24px;
    font-family: monospace;
}

#d1c1 {
    background-color: #CCD5AE;
}
#d1c2 {
    background-color: #E9EDC9;
}
#d1c3 {
    background-color: #FEFAE0;
}
#d1c4 {
    background-color: #FAEDCD;
}
#d1c5 {
    background-color: #D4A373;
}

#d2c1 {
    background-color: #CB997E;
}
#d2c2 {
    background-color: #DDBEA9;
}
#d2c3 {
    background-color: #FFE8D6;
}
#d2c4 {
    background-color: #B7B7A4;
}
#d2c5 {
    background-color: #A5A58D;
}
#d2c6 {
    background-color: #6B705C;
}

#d3c1 {
    background-color: #687351;
}
#d3c2 {
    background-color: #9BA17F;
}
#d3c3 {
    background-color: #E8E4DB;
}
#d3c4 {
    background-color: #C9C1AE;
}